In [0]:
#importing the basic libraries

import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.ensemble import RandomForestClassifier

In [0]:
# Reading in the data

data = pd.read_csv('Full_Data.csv', encoding = "ISO-8859-1")
data.head(1)

         Date  Label  ...     Top24               Top25
0  2000-01-03      0  ...  Sold out  Recovering a title

[1 rows x 27 columns]

In [0]:
#splitting the training and the test data such that the train data has the entries until 2015 and test data contains data after 2015

train = data[data['Date'] < '20150101']
test = data[data['Date'] > '20141231']

In [0]:
train.iloc[:,2:27]

In [0]:
# Removing punctuations
#first we select the required column using iloc in pandas
#Secondly we use pandas to_replace function to replace the special characters with a space
slicedData= train.iloc[:,2:27]
slicedData.replace(to_replace="[^a-zA-Z]", value=" ", regex=True, inplace=True)

# Renaming column names for ease of access
#Here we name them from top1 to top25 to 0 to 24
list1= [i for i in range(25)]
new_Index=[str(i) for i in list1]
slicedData.columns= new_Index
slicedData.head(5)

# Convertng headlines to lower case
for index in new_Index:
    slicedData[index]=slicedData[index].str.lower()
slicedData.head(1)

                                                   0  ...                  24
0  a  hindrance to operations   extracts from the...  ...  recovering a title

[1 rows x 25 columns]

In [0]:
slicedData.index

Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    8,    9,
            ...
            3965, 3966, 3967, 3968, 3969, 3970, 3971, 3972, 3973, 3974],
           dtype='int64', length=3975)

In [0]:
#Creating a total headline of all the columns 

headlines = []
for row in range(0,len(slicedData.index)):
    headlines.append(' '.join(str(x) for x in slicedData.iloc[row,0:25]))

In [0]:
headlines[0]

'a  hindrance to operations   extracts from the leaked reports scorecard hughes  instant hit buoys blues jack gets his skates on at ice cold alex chaos as maracana builds up for united depleted leicester prevail as elliott spoils everton s party hungry spurs sense rich pickings gunners so wide of an easy target derby raise a glass to strupar s debut double southgate strikes  leeds pay the penalty hammers hand robson a youthful lesson saints party like it s      wear wolves have turned into lambs stump mike catches testy gough s taunt langer escapes to hit     flintoff injury piles on woe for england hunters threaten jospin with new battle of the somme kohl s successor drawn into scandal the difference between men and women sara denver  nurse turned solicitor diana s landmine crusade put tories in a panic yeltsin s resignation caught opposition flat footed russian roulette sold out recovering a title'

In [0]:
#We will use the count vectorizer which used to count the no of occurences of a word in an sentence
#the n_grams here is used for preserving some ordering
#we initialize basic vectorizer with a bunch of words
#basicvectorizer.get_feature_names()
#And basic train is a sparse matrix which will give a sparse matrix which will be token of different words
basicvectorizer = CountVectorizer(ngram_range=(1,1))
basictrain = basicvectorizer.fit_transform(headlines)

In [0]:
#Random forest classifier is used and data is fitted to it

basicmodel = RandomForestClassifier(n_estimators=200, criterion='entropy',max_features='auto')
basicmodel = basicmodel.fit(basictrain, train["Label"])

In [0]:
testheadlines = []
for row in range(0,len(test.index)):
    testheadlines.append(' '.join(str(x) for x in test.iloc[row,2:27]))
basictest = basicvectorizer.transform(testheadlines)
predictions = basicmodel.predict(basictest)

In [0]:
predictions

array([1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 1, 1,
       1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 1,
       1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1,
       1, 0, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 0, 1, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0,
       1, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0,
       1, 1, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 1, 1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 1, 0, 1, 1, 1,
       0, 0, 1, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 0, 0,
       1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1,
       1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 1, 1, 1,
       1, 1, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 0,
       0, 1, 0, 1, 0, 1, 1, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0,
       1, 1, 1, 1])

In [0]:
pd.crosstab(test["Label"], predictions, rownames=["Actual"], colnames=["Predicted"])

Predicted    0    1
Actual
0          145   41
1           16  176

In [0]:
print(basictrain.shape)

from sklearn.metrics import classification_report
from sklearn.metrics import f1_score
from sklearn.metrics import accuracy_score 
from sklearn.metrics import confusion_matrix

print (classification_report(test["Label"], predictions))
print (accuracy_score(test["Label"], predictions))

(3975, 46002)
              precision    recall  f1-score   support

           0       0.90      0.78      0.84       186
           1       0.81      0.92      0.86       192

    accuracy                           0.85       378
   macro avg       0.86      0.85      0.85       378
weighted avg       0.86      0.85      0.85       378

0.8492063492063492

In [0]:
basicvectorizer2 = CountVectorizer(ngram_range=(2,2))
basictrain2 = basicvectorizer2.fit_transform(headlines)

In [0]:
basicmodel2 = RandomForestClassifier(n_estimators=200, criterion='entropy',max_features='auto')
basicmodel2 = basicmodel2.fit(basictrain2, train["Label"])

In [0]:
basictest2 = basicvectorizer2.transform(testheadlines)
predictions2 = basicmodel2.predict(basictest2)

In [0]:
pd.crosstab(test["Label"], predictions2, rownames=["Actual"], colnames=["Predicted"])

Predicted    0    1
Actual
0          144   42
1           10  182

In [0]:
print(basictrain2.shape)

print (classification_report(test["Label"], predictions2))
print (accuracy_score(test["Label"], predictions2))

(3975, 584289)
              precision    recall  f1-score   support

           0       0.94      0.77      0.85       186
           1       0.81      0.95      0.88       192

    accuracy                           0.86       378
   macro avg       0.87      0.86      0.86       378
weighted avg       0.87      0.86      0.86       378

0.8624338624338624

In [0]:
basicvectorizer3 = CountVectorizer(ngram_range=(3,3))
basictrain3 = basicvectorizer3.fit_transform(headlines)

In [0]:
basicmodel3 = RandomForestClassifier(n_estimators=200, criterion='entropy',max_features='auto')
basicmodel3 = basicmodel3.fit(basictrain3, train["Label"])

In [0]:
basictest3 = basicvectorizer3.transform(testheadlines)
predictions3 = basicmodel3.predict(basictest3)

In [0]:
pd.crosstab(test["Label"], predictions3, rownames=["Actual"], colnames=["Predicted"])

Predicted    0    1
Actual
0          130   56
1            0  192

In [0]:
print(basictrain3.shape)

print (classification_report(test["Label"], predictions3))
print (accuracy_score(test["Label"], predictions3))

(3975, 969254)
              precision    recall  f1-score   support

           0       1.00      0.70      0.82       186
           1       0.77      1.00      0.87       192

    accuracy                           0.85       378
   macro avg       0.89      0.85      0.85       378
weighted avg       0.89      0.85      0.85       378

0.8518518518518519